header{
    background:rgb(10, 10, 10);
    width: 100%;
    height: 100px;
    padding: 20px 50px;
    
    
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
}

input{
    border-radius: 10px;
    
}

img{

}
