body{
    font-family:  Helvetica, Arial, sans-serif;
  }
  header{
    display: flex;
    flex-direction: column;
  }
  
  .top{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px;
    background:#3f3f3f;
    align-items: center;
    justify-content: space-between;  
  }
  
  .topinput{
    border: none;
    height: 40px;
    width: 400px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .topbutton{
    border: 0px;;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    width: 100px;
    background: #3c948b;
    color: white;
  }
